h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #170771;
    text-align:  center;
}

#cordx , #cordy
{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;    
    font-size: 15px;
    border: 2px solid #170771;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

    